<div class="card">
  <h3 class="bg-success success_text font-bold mb-2 text-center" *ngIf="updateSuccess">You have successfully update password!</h3>
  <div class="card_background_img"></div>
  <div class="user_details">
    <h3>{{userName}}</h3>
    <p>{{UserDate.email}}</p>
  </div>
  <div class="card_count">
    <p class="form-title" >Change password</p>
    <br>
    <form (ngSubmit)="onSubmit()">

      <input type="password" [(ngModel)]="PasswordData.password" name="password" placeholder="Password" required="">
      <input type="password" [(ngModel)]="PasswordData.newPassword" name="newPassword" placeholder="New Password" required="">
      <input type="password" [(ngModel)]="PasswordData.reNewPassword" name="reNewPassword" placeholder="Retype New Password" required="">

      <button class="btn">Change</button>
    </form>

  </div>
</div>
<app-message></app-message>
